<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
</head>
<body>
    {{message}}
    <p>Please try to <a href="http://localhost:8080/login">login</a> or <a href="http://localhost:8080/register">register</a> again</p>
</body>
</html>