<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' localhost:8080; default-src 'self'">
    <title>Register</title>
</head>

<body>
    <div class="register">
        <h2>Create your user profile</h2>
        <form method="POST" action="/api/register">
            <div class="labels-inputs">
                <label for="nickname" class="nickname">Nickname</label>
                <input type="text" name="nickname" class="input" required>
                <label for="firstname" class="firstname">Firstname</label>
                <input type="text" name="firstname" class="input" required>
                <label for="lastname" class="lastname">Lastname</label>
                <input type="text" name="lastname" class="input" required>
                <label for="password" class="password">Password</label>
                <input type="password" name="password" class="input" required>
                <label for="email" class="email">Email</label>
                <input type="email" name="email" class="input" required>
            </div>
            <button type="submit" class="register-button">Register</button>
        </form>
        <p>Already registered? Please <a href="http://localhost:8080/login">Log in</a></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</body>

</html>